/* Colours for the navigation menu (toc) */
nav {
    background: #CFB0D4;
    color: black;
}

#nav a:link {
    color: black;
}

#nav a:visited {
    color: black;
}

/* Colours for top and footer */
#top {
    background-color: #b743fe;
    color: black;
}

footer {
    background-color: #b743fe;
    color: black;
}

footer a, #top a {
    color: #040C62;
}

footer a:hover, #top a:hover {
    color: #00A8F6;
}

/* Additional elements */
/* Grammar error */
.grammar-error {
    background: #d966ff;
}
