/* Colors for the navigation menu (toc) */
nav {
    background: #dfcae6;
    color: black;
    border-right-color: black;
}

#nav a:link {
    color: black;
}

#nav a:visited {
    color: black;
}

/* Colors for top and footer */
#top {
    background-color: #444343;
    color: white;
}

footer {
    background-color: #444343;
    color: white;
}

footer a, #top a {
    color: #fc71ff;
}

footer a:hover, #top a:hover {
    color: #b743fe;
}

/* Additional elements, only use for proofreading */
/* Grammar error */
.grammar-error {
    color: red;
    text-decoration-line: underline;
    text-decoration-style: double;
/*    background: #d966ff;*/
}

.popup_footnote {
    background-color: #e8e897;
}
