/* Colours for the navigation menu (toc) */
nav {
    background: #CBBFCC;
    color: black;
    border-right-color: black;
}

#nav a:link {
    color: black;
}

#nav a:visited {
    color: black;
}

/* Colours for top and footer */
#top {
    background-color: #444343;
    color: white;
}

footer {
    background-color: #444343;
    color: white;
}

footer a, #top a {
    color: #fc71ff;
}

footer a:hover, #top a:hover {
    color: #b743fe;
}

/* Additional elements, only use for proofreading */
/* Grammar error */
.grammar-error {
    background: #d966ff;
}
