body {
    font-family: "Linux Libertine", "Georgia", serif;
    margin-left: 2em; 
    margin-right: 2em; 
    margin-top: 1em; 
    margin-bottom: 1em; 
    text-align: justify;
    font-size: 100%;
}
p {
    text-indent: 1.25em;
    margin:0;
    hyphens: auto;
}

blockquote {
    margin: 1em;
    font-style: italic;
}
code {
    font-size: 80%;
    font-family: "Linux Libertine Mono", monospace;
    background-color: #F0F0F0;
}
pre {
    font-family: "Linux Libertine Mono", monospace;
    margin: 1em;
    padding-top: 0;
    background-color: #F0F0F0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
h1, h2, h3, h4, h5, h5 {
    adobe-hyphenate: none;
    -ms-hyphens: none; /* Trident (Windows) */
    -moz-hyphens: none; /* Gecko (Firefox) */
    -webkit-hyphens: none; /* Webkit */
    -epub-hyphens: none; /* EPUB 3 */
    hyphens: none; /* Futur standard */
}

h1 {
    text-align: left;
    font-family: Linux Biolinum, sans-serif;
    font-variant: small-caps;
}
h2 {
    text-align: left;
    font-family: Linux Biolinum, sans-serif;
    font-variant: small-caps;
}
h3 {
    text-align: left;
    font-family: Linux Biolinum, sans-serif;
    font-variant: small-caps;
}
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1.title {
    text-align: center;
    font-size: 300%;
}
h2.author {
    text-align: right;
    font-size:  200%;
}
h3.date { }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }
p img {
}
#cover img {
    width: 100%;
}
.rule {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

.sidenote {
    display: block;
    float: right;
    width: 30%;
    border: 1px solid black;
    margin: 1em;
    padding: .5em;
    margin-right: -1.5em;
}

.note-number {
    font-weight: bold;
    margin-right: 1em;
}

.sidenote .note-number {
    float: left;
}

.notes {
    text-align: justify;
    border: none;
}

table.notes td {
    margin-left: 1em;
    margin-right: 1em;
}
                 

.table {
    margin: 1em;
}

.table table {
    width: 60%;
    margin: 0 auto;
    border-style: solid thin;
    border-color: black;
    border-collapse: collapse;
}

.table table th, .table table td {
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.table table th {
    font-weight: bold;
    font-variant: small-caps;
}

li {
    list-style-type: none;
}
li:before {
    content: "– "; 
}