/* The nav element corresponding to the navigation menu */
nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    overflow-y: auto;
    font-size: 80%;
    margin-left: 0;
    background: black;
    color: white;
}

#nav code {
    background-color: transparent;
}
    
#nav a:link {
    color: white;
    text-decoration: none;
}

#nav a:visited {
    color: white;
    text-decoration: none;
}

#nav {
    text-align: left;
}

#nav h2 {
    text-align: center;
}

#nav li {
    list-style-type: none;
    text-indent: -1em;
}

#nav li:before {
    content: none;
}
                    
#nav ul {
    padding-right: 1em;
    padding-left: 1.5em;
}

/* The menu containing the button to display the navigation bar */
#menu {
    position: fixed;
    top: 0em;
    left: 1em;
    transition: left 1s;
}
#menu-button {
    width: 1.5em;
    padding: 0.5em;
}

/* Hide navigation bar */
#nav {
    left: -20%;
    transition: left 1s;
}

/* The main content of the book */
#content {
    position: absolute;
    overflow-y: auto;
    margin-left: 10%;
    margin-right: 10%;
    transition: margin-left 1s;
}

/* Used for multifiles HTML */
#prev_chapter {
    text-align: left;
    text-indent: 0;
    margin-bottom: 1em;
    font-size: 120%;
    font-variant: small-caps;
    font-weight: bold;
}

#next_chapter {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 120%;
    font-variant: small-caps;
    font-weight: bold;
}