body {
    font-family: "Linux Libertine", "Georgia", serif;
    text-align: justify;
    font-size: 100%;
}

p {
    text-indent: 1.25em;
    margin:0;
    hyphens: auto;
}

blockquote {
    margin: 1em;
    font-style: italic;
}
code {
    font-size: 80%;
    font-family: "Linux Libertine Mono", monospace;
    background-color: #F0F0F0;
}
pre {
    font-family: "Linux Libertine Mono", monospace;
    margin: 1em;
    padding-top: 0;
    background-color: #F0F0F0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
/* Try to disable hyphenation in titles */
h1, h2, h3, h4, h5, h5 {
    adobe-hyphenate: none;
    -ms-hyphens: none; /* Trident (Windows) */
    -moz-hyphens: none; /* Gecko (Firefox) */
    -webkit-hyphens: none; /* Webkit */
    -epub-hyphens: none; /* EPUB 3 */
    hyphens: none; /* Futur standard */
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-family: Linux Biolinum, sans-serif;
    font-variant: small-caps;
}

/* Title of a part */
h1.part {
    font-size: 250%;
    text-align: center;
}

/* The `Part X` section of a part */
h2.part {
    font-size: 175%;
    text-align: center;
}

/* The "Chapter X" section of a chapter */
span.chapter-header {
    font-size: 75%;
}

/* Title of the book */
h1.title {
    text-align: center;
    font-size: 300%;
}
/* Author */
h2.author {
    text-align: right;
    font-size:  200%;
}

/* Subtitle */
h2.subtitle {
    text-align: center;
    font-size: 200%;
}

/* When toc is displayed inlined */
#toc ol, #toc ul {
    padding: 0;
    margin-left: 1em;
}
#toc li {
    list-style-type: none;
    margin: 0; padding: 0;
}

#toc li:before {
    content: none;
}

#cover img {
    width: 100%;
    max-height: 100%;
}

.image {
    margin: auto;
    width: 80%;
}

.image img {
    width: 100%;
    max-height: 100%;
}

.rule {
    text-align: center !important;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    page-break-inside: avoid;
    break-inside: avoid;
    page-break-after: avoid;
    break-after: avoid;
}

/* The number of the note in an expanded footnote (e.g. [3]) */
.note-number {
    font-weight: bold;
    margin-right: 1em;
}

td.note-number {
    vertical-align: top;
}

/* When footnotes (try to) be diplayed as margin notes */
.sidenote {
    display: block;
    float: right;
    width: 30%;
    border: 1px solid black;
    margin: 1em;
    padding: .5em;
    margin-right: -1.5em;
}

.sidenote .note-number {
    float: left;
}

/* The div class displaying notes at the end of a chapter */
div.notes {
    text-align: justify;
    border-top: thin dashed black;
    margin-top: 1em;
}

table.notes {
    border-collapse: collapse;
    border-style: hidden;
}

table.notes tr td {
    margin-left: 1em;
    margin-right: 1em;
}

table.notes tr td p {
    text-indent: 0;
}
                 
/* Every markdown table is included in a <div class = "table"> */
.table {
    margin: 1em;
}

.table table {
    width: 80%;
    margin: 0 auto;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-collapse: collapse;
}

.table table th, .table table td {
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.table table th {
    font-weight: bold;
    font-variant: small-caps;
}


span.initial { 
    float: left;
    font-size: 285%;
    font-weight: bold;
    margin-right: 0.05em;
    line-height: 0.8em;
}

p.first-para {
    text-indent: 0;
}

/* Use this for escape narrow space so it is non-breaking */
.nnbsp {
    /* white-space: nowrap;*/
    word-spacing: -0.13em;
    /* Following necessary for Kobo EPUB3 reader??? */
    margin: 0;
    padding: 0;
}

/* Default  HTML CSS file includes default EPUB CSS file */

/* Colors for the navigation menu (toc) */
nav {
    background: #181818;
    color: #cdd4da;
    border-right-color: #cdd4da;
}

nav {
    border-right: solid thin #cdd4da;
}

#nav a:link {
    color: #cdd4da;
}

#nav a:visited {
    color: #cdd4da;
}

a:link {
    color: #3399ff;
}

a:visited {
    color: #0066cc;
}

a:hover {
    color: #66b3ff;
}

body {
    background-color: #181818;
    color: #cdd4da;
}

pre, code {
    background-color: #1d1f21;
}

/* Colors for top and footer */
#top {
    background-color: #cdd4da;
    color: #181818;
}

footer {
    background-color: #cdd4da;
    color: #181818;
}

footer a, #top a {
    color: #040C62;
}

footer a:hover, #top a:hover {
    color: #00A8F6;
}

/* Additional elements */
/* Grammar error */
.grammar-error {
    color: red;
    text-decoration-line: underline;
    text-decoration-style: double;
}


p.first-para:first-letter {
    font-size: 300%;
    float: left;
    font-weight: bold;
    margin-right: 0.05em;
    line-height: 1em;
}

/* The nav element corresponding to the navigation menu */
nav {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    overflow-y: auto;
    font-size: 80%;
    margin-left: 0;
    border-right-width: 2px;
    border-right-style: dashed;
}

#nav code {
    background-color: transparent;
}

#nav a:link {
    text-decoration: none;
}

#nav a:visited {
    text-decoration: none;
}

#nav {
    text-align: left;
}

#nav h2 {
    text-align: center;
}

#nav li {
    list-style-type: none;
    text-indent: -1em;
}

#nav li:before {
    content: none;
}

#nav ul {
    padding-right: 1em;
    padding-left: 1.5em;
}

/* The menu containing the button to display the navigation bar */
#menu {
    position: fixed;
    z-index: 2;
    top: 0em;
    left: 1em;
    transition: left 1s;
}

#menu img {
    opacity: 0.5;
}

#menu img:hover {
    opacity: 1.0;
    cursor: pointer;
}

#menu-button {
    height: 1.5em;
    padding: 0.5em;
}

#book-button {
    height: 1.5em;
    padding: 0.5em;
    float: left;
}

/* Hide navigation bar */
#nav {
    left: -21%;
    transition: left 1s;
}

/* The main content of the book */
#content {
    overflow-y: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: margin-left 1s;
}

/* Used for multifiles HTML */
.prev_chapter {
    text-align: left;
    text-indent: 0;
    margin-bottom: 1em;
    font-size: 120%;
    font-variant: small-caps;
    font-weight: bold;
}

.next_chapter {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 120%;
    font-variant: small-caps;
    font-weight: bold;
}

/* Improving readability for the HTML format only */
p, blockquote, li, .image  {
    margin-right: auto;
    max-width: 33em;
}

blockquote {
    padding: 1em;
}

#content {
    text-align: center;
}

#page {
    display: inline-block;
    text-align: justify;
    max-width: 33em;
}

#nav-container {
    top: 0;
    width: 100%;
}

#nav-title {
    top: 0;
}

#toolbar {
    top: 0;
    float: left;
}

#toolbar img {
    cursor: pointer;
}

footer {
    margin-top: 2em;
    margin-bottom: 0;
}

#top {
    margin-top: 0;
    margin-bottom: 1em;
}

#top p {
    font-family: "Linux Biolinum";
    font-weight: bold;
    font-variant: small-caps;
}

footer, #top {
    padding-top: .25em;
    padding-bottom: .25em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    transition: margin-left 1s;
}

footer a, #top a {
    text-decoration: none;
}

footer p, #top p {
    text-indent: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    max-width: 33em;
}

