/* Colors for the navigation menu (toc) */
nav {
    background: #181818;
    color: #cdd4da;
    border-right-color: #cdd4da;
}

nav {
    border-right: solid thin #cdd4da;
}

#nav a:link {
    color: #cdd4da;
}

#nav a:visited {
    color: #cdd4da;
}

a:link {
    color: #3399ff;
}

a:visited {
    color: #0066cc;
}

a:hover {
    color: #66b3ff;
}

body {
    background-color: #181818;
    color: #cdd4da;
}

pre, code {
    background-color: #1d1f21;
}

/* Colors for top and footer */
#top {
    background-color: #cdd4da;
    color: #181818;
}

footer {
    background-color: #cdd4da;
    color: #181818;
}

footer a, #top a {
    color: #040C62;
}

footer a:hover, #top a:hover {
    color: #00A8F6;
}

/* Additional elements */
/* Grammar error */
.grammar-error {
    color: red;
    text-decoration-line: underline;
    text-decoration-style: double;
}
